/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Nov-2019, 12:14:29 AM
    Author     : SandhuM
*/

#header{
    text-align: left;
    height:100px;
    font-size: 30px;
    color:#021f4a;
}
img {
    float:right;
    margin-top:-160px;
}

#back {
    
   background-color: #7dc0ff;
   height:100%;
}
a:hover {
    color:red;
}
a {
    color:blue;
    font-weight: bold;
    font-size: 30px;
}
#bottom {
    
    display:grid;
    grid-template-areas:'auto auto';
    margin:10px;
   
    text-align: center;
    color:blueviolet;
    width:700px;
}

#form1 {
    
   width:200px;
}